

.navbar-div1{
    height: 128px;
position: absolute;
    background-color: transparent;
    padding-right: 0px; 
    padding-left: 0px;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    z-index: 9;
}

.navbar-div1 div div img{
margin-top: -10px;
}

.navbar-btn1 {
  width: 230px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 60px;
  border: 1px solid #f59c23;
  background: linear-gradient(90deg, #f59c23 0.29%, #ffbb5d 99.77%);
  color: #0b232b;
  font-family: Poppins;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 125% */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 8px;
}













@media screen and (max-width: 576px) {


.navbar-div1{
    height: 110px;
    padding-left: 12px;
    padding-right: 12px;
}

.navbar-div1 div div img{
margin-top: -10px;
width: 86px;
}

.navbar-btn1 {
  width: 145px;
  height: 40px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 125% */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 6px;
}

.navbar-btn1 svg{
  width: 28px;
  height: 28px;
}

}